SA_PASSWORD=TroqueEstaSenha@123

API_Key_Pluggy=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjoiYzcxZTVmNTdkZmM4Nzk4M2FlYjdmYjA1NGE1MmRmZDU6NTk5ZTI5MTdhYWJiMjIyOGFhNTE1NjlhM2U2ZTg0Y2MzY2JhYTYwNWVjZDJjNWI4NzkwODFmYTY2MzdhNWU4OWUzMDIyNzJjNzM3OGYyOTdhZjM2YzA5ZTVkODcyZWQyMjYwOThjNGZiNzZiZjIzMmNlMjI1MjlkYzE4NTA5ODhhNWU3MGRjMDk2NWI2OGVhMWNjY2UxMTcyZGI2YmI0MCIsImlhdCI6MTc3NjM3MTQ3OSwiZXhwIjoxNzc2Mzc4Njc5fQ.ORiy9j5kj1rlJplR-yc6N1D7nCBhpqJWwRB6sEg5nX2h11WXtmtJF-jeqp1c0eylTHTW9168zbkK_YDfA0aRD8iKPxnoQ4_9j7PtTVJzGVNL2H0DSrMk0t4fYk-OK8TNoDO2yHMlSMH9j6UQCidkZUAb4M5FA9krt1CvKiuxbSDaPs3LvjIwTW8A1Y6PI2mZ1YxixKfu-WlVpHEXhw2Fxa_KiQ1fDMr5gHU3oBLeU-BtFCRlmT5yP4thC0du4rZF7-4OFFbdG-aU45isegdal6qaVzFRc4bSjIG9VA1vo0Jod-us8HrkhW3mc8qd9c3KNYSMePPBfFYrItmxatqEsw