SA_PASSWORD=TroqueEstaSenha@123

# Azure
Email__Provider=AzureCommunicationServices
AzureCommunicationServices__Email__ConnectionString=endpoint=https://seu-recurso.communication.azure.com/;accesskey=SUA_CHAVE_AQUI
AzureCommunicationServices__Email__SenderAddress=DoNotReply@seu-dominio.azurecomm.net

# JWT
Jwt__Audience=Finova
Jwt__Issuer=Finova
Jwt__Key=SUA_CHAVE_JWT_COM_PELO_MENOS_32_CARACTERES
